*.iml
.gradle/
.gradle-local/
.gradle-user/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
logcat_login.txt
logcat_*.txt
_logcat_dump.txt
_gradle_test_out.txt
_probe.txt
ADB_REVERSE.txt
build_device_debug.txt
gradle_version.txt
cambios actuales.txt
contexto_unificado_y_cambios.txt